<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cities</key>
		<array>
        <string>临潼区</string>
        <string>周至县</string>
        <string>户县</string>
        <string>蓝田县</string>
        <string>西安市</string>
        <string>长安区</string>
        <string>高陵县</string>
        <string>新城区</string>
        <string>碑林区</string>
        <string>莲湖区</string>
        <string>灞桥区</string>
        <string>未央区</string>
        <string>雁塔区</string>
        <string>阎良区</string>
		</array>
		<key>name</key>
		<string>西安市</string>
	</dict>

	<dict>
		<key>cities</key>
		<array>
        <string>王益区</string>
        <string>耀州区</string>
        <string>宜君县</string>
        <string>印台区</string>
		</array>
		<key>name</key>
		<string>铜川市</string>
	</dict>

	<dict>
		<key>cities</key>
		<array>
        <string>渭滨区</string>
        <string>陈仓区</string>
        <string>凤翔县</string>
        <string>岐山县</string>
        <string>扶风县</string>
        <string>眉县</string>
        <string>陇县</string>
        <string>千阳县</string>
        <string>麟游县</string>
        <string>凤县</string>
        <string>太白县</string>
        <string>金台区</string>
		</array>
		<key>name</key>
		<string>宝鸡市</string>
	</dict>

	<dict>
		<key>cities</key>
		<array>
        <string>三原县</string>
        <string>乾县</string>
        <string>兴平市</string>
        <string>彬县</string>
        <string>旬邑县</string>
        <string>杨凌区</string>
        <string>武功县</string>
        <string>永寿县</string>
        <string>泾阳县</string>
        <string>淳化县</string>
        <string>渭城区</string>
        <string>礼泉县</string>
        <string>长武县</string>
        <string>秦都区</string>
		</array>
		<key>name</key>
		<string>咸阳市</string>
	</dict>


	<dict>
		<key>cities</key>
		<array>
        <string>临渭区</string>
        <string>华县</string>
        <string>华阴市</string>
        <string>合阳县</string>
        <string>大荔县</string>
        <string>富平县</string>
        <string>潼关县</string>
        <string>澄城县</string>
        <string>白水县</string>
        <string>蒲城县</string>
        <string>韩城市</string>
		</array>
		<key>name</key>
		<string>渭南市</string>
	</dict>



	<dict>
		<key>cities</key>
		<array>
        <string>王益区</string>
        <string>耀州区</string>
        <string>宜君县</string>
        <string>印台区</string>
		</array>
		<key>name</key>
		<string>铜川市</string>
	</dict>


	<dict>
		<key>cities</key>
		<array>
        <string>吴起县</string>
        <string>子长县</string>
        <string>安塞县</string>
        <string>宜川县</string>
        <string>宝塔区</string>
        <string>富县</string>
        <string>延川县</string>
        <string>延长县</string>
        <string>志丹县</string>
        <string>洛川县</string>
        <string>甘泉县</string>
        <string>黄陵县</string>
        <string>黄龙县</string>
		</array>
		<key>name</key>
		<string>延安市</string>
	</dict>


	<dict>
		<key>cities</key>
		<array>
        <string>佛坪县</string>
        <string>勉县</string>
        <string>南郑县</string>
        <string>城固县</string>
        <string>宁强县</string>
        <string>汉台区</string>
        <string>洋县</string>
        <string>留坝县</string>
        <string>略阳县</string>
        <string>西乡县</string>
        <string>镇巴县</string>
		</array>
		<key>name</key>
		<string>汉中市</string>
	</dict>



	<dict>
		<key>cities</key>
		<array>
        <string>佳县</string>
        <string>吴堡县</string>
        <string>子洲县</string>
        <string>定边县</string>
        <string>府谷县</string>
        <string>榆阳区</string>
        <string>横山县</string>
        <string>清涧县</string>
        <string>神木县</string>
        <string>米脂县</string>
        <string>绥德县</string>
        <string>靖边县</string>
		</array>
		<key>name</key>
		<string>榆林市</string>
	</dict>

	<dict>
		<key>cities</key>
		<array>
        <string>宁陕县</string>
        <string>岚皋县</string>
        <string>平利县</string>
        <string>旬阳县</string>
        <string>汉滨区</string>
        <string>汉阴县</string>
        <string>白河县</string>
        <string>石泉县</string>
        <string>紫阳县</string>
        <string>镇坪县</string>
		</array>
		<key>name</key>
		<string>安康市</string>
	</dict>	

	<dict>
		<key>cities</key>
		<array>
        <string>丹凤县</string>
        <string>商南县</string>
        <string>商州区</string>
        <string>山阳县</string>
        <string>柞水县</string>
        <string>洛南县</string>
        <string>镇安县</string>
		</array>
		<key>name</key>
		<string>商洛市</string>
	</dict>
</array>
</plist>
